USE [master]
GO
/****** Object:  Database [QL_SANBAY_CN]    Script Date: 7/10/2023 2:00:39 PM ******/
CREATE DATABASE [QL_SANBAY_CN]

USE [QL_SANBAY_CN]
GO
/****** Object:  User [8]    Script Date: 7/10/2023 2:00:40 PM ******/
CREATE USER [8] FOR LOGIN [lht] WITH DEFAULT_SCHEMA=[8]
GO
/****** Object:  User [7]    Script Date: 7/10/2023 2:00:40 PM ******/
CREATE USER [7] FOR LOGIN [nkv] WITH DEFAULT_SCHEMA=[7]
GO
/****** Object:  User [23]    Script Date: 7/10/2023 2:00:40 PM ******/
CREATE USER [23] FOR LOGIN [user107] WITH DEFAULT_SCHEMA=[23]
GO
/****** Object:  User [12]    Script Date: 7/10/2023 2:00:40 PM ******/
CREATE USER [12] FOR LOGIN [na] WITH DEFAULT_SCHEMA=[12]
GO
/****** Object:  DatabaseRole [NVBAOTRI]    Script Date: 7/10/2023 2:00:40 PM ******/
CREATE ROLE [NVBAOTRI]
GO
/****** Object:  DatabaseRole [MANAGER]    Script Date: 7/10/2023 2:00:40 PM ******/
CREATE ROLE [MANAGER]
GO
ALTER ROLE [MANAGER] ADD MEMBER [8]
GO
ALTER ROLE [db_owner] ADD MEMBER [8]
GO
ALTER ROLE [NVBAOTRI] ADD MEMBER [7]
GO
ALTER ROLE [db_datareader] ADD MEMBER [7]
GO
ALTER ROLE [NVBAOTRI] ADD MEMBER [23]
GO
ALTER ROLE [db_datareader] ADD MEMBER [23]
GO
ALTER ROLE [MANAGER] ADD MEMBER [12]
GO
ALTER ROLE [db_owner] ADD MEMBER [12]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NVBAOTRI]
GO
ALTER ROLE [db_owner] ADD MEMBER [MANAGER]
GO
/****** Object:  Schema [12]    Script Date: 7/10/2023 2:00:40 PM ******/
CREATE SCHEMA [12]
GO
/****** Object:  Schema [23]    Script Date: 7/10/2023 2:00:40 PM ******/
CREATE SCHEMA [23]
GO
/****** Object:  Schema [7]    Script Date: 7/10/2023 2:00:40 PM ******/
CREATE SCHEMA [7]
GO
/****** Object:  Schema [8]    Script Date: 7/10/2023 2:00:40 PM ******/
CREATE SCHEMA [8]
GO
/****** Object:  UserDefinedFunction [dbo].[UDF_LAY_KHOA_CHINH_NHAN_VIEN]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[UDF_LAY_KHOA_CHINH_NHAN_VIEN]()
RETURNS table 
AS
	return (select IDENT_CURRENT('NHANVIEN') + 1 as id)
GO
/****** Object:  View [dbo].[V_DanhSachTaiKhoan]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DanhSachTaiKhoan]
AS
SELECT        sp.name AS TenDangNhap, dp.name AS MaNhanVien, rm_1.role AS Quyen
FROM            sys.database_principals AS dp INNER JOIN
                         sys.server_principals AS sp ON dp.sid = sp.sid INNER JOIN
                             (SELECT        p.name AS role, m.name AS Users
                               FROM            sys.database_role_members AS rm INNER JOIN
                                                         sys.database_principals AS p ON rm.role_principal_id = p.principal_id INNER JOIN
                                                         sys.database_principals AS m ON rm.member_principal_id = m.principal_id
                               WHERE        (m.name <> 'dbo')) AS rm_1 ON dp.name = rm_1.Users
WHERE        (sp.name <> 'sa')
GO
/****** Object:  Table [dbo].[CANHAN]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CANHAN](
	[OWNER_ID] [varchar](10) NOT NULL,
	[IDNGUOI] [int] NOT NULL,
 CONSTRAINT [PK_CANHAN] PRIMARY KEY CLUSTERED 
(
	[OWNER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUMAYBAY]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUMAYBAY](
	[OWNER_ID] [varchar](10) NOT NULL,
	[OWNER_TYPE] [bit] NOT NULL,
 CONSTRAINT [PK_CHUMAYBAY] PRIMARY KEY CLUSTERED 
(
	[OWNER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_BANGLAI]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_BANGLAI](
	[ID_BANGLAI] [varchar](10) NOT NULL,
	[IDLOAI] [varchar](10) NOT NULL,
 CONSTRAINT [PK_CT_BANGLAI] PRIMARY KEY CLUSTERED 
(
	[ID_BANGLAI] ASC,
	[IDLOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_CHUMAYBAY]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_CHUMAYBAY](
	[OWNER_ID] [varchar](10) NOT NULL,
	[IDMAYBAY] [varchar](10) NOT NULL,
	[NGAYBATDAU] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_CT_CHUMAYBAY] PRIMARY KEY CLUSTERED 
(
	[OWNER_ID] ASC,
	[IDMAYBAY] ASC,
	[NGAYBATDAU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_KHO]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_KHO](
	[IDKHO] [varchar](10) NOT NULL,
	[IDMAYBAY] [varchar](10) NOT NULL,
 CONSTRAINT [PK_CT_KHO] PRIMARY KEY CLUSTERED 
(
	[IDKHO] ASC,
	[IDMAYBAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_NVBAOTRI]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_NVBAOTRI](
	[IDNHANVIEN] [int] NOT NULL,
	[IDLOAI] [varchar](10) NOT NULL,
 CONSTRAINT [PK_CT_NVBAOTRI] PRIMARY KEY CLUSTERED 
(
	[IDNHANVIEN] ASC,
	[IDLOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PHIEUBAOTRI]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUBAOTRI](
	[IDPHIEU] [varchar](10) NOT NULL,
	[IDNHANVIEN] [int] NOT NULL,
	[CONGVIEC] [ntext] NOT NULL,
 CONSTRAINT [PK_CT_PHIEUBAOTRI] PRIMARY KEY CLUSTERED 
(
	[IDPHIEU] ASC,
	[IDNHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOANHNGHIEP]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOANHNGHIEP](
	[OWNER_ID] [varchar](10) NOT NULL,
	[TENDN] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[SDT] [varchar](13) NOT NULL,
	[TENNGUOIDAIDIEN] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DOANHNGHIEP] PRIMARY KEY CLUSTERED 
(
	[OWNER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHO]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHO](
	[IDKHO] [varchar](10) NOT NULL,
	[SUCCHUA] [int] NOT NULL,
	[VITRI] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_KHO] PRIMARY KEY CLUSTERED 
(
	[IDKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIMAYBAY]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIMAYBAY](
	[IDLOAI] [varchar](10) NOT NULL,
	[TENLOAI] [nvarchar](50) NOT NULL,
	[KIEUDANG] [nvarchar](50) NOT NULL,
	[SUCCHUA] [int] NOT NULL,
	[TRONGLUONG] [float] NOT NULL,
 CONSTRAINT [PK_LOAIMAYBAY] PRIMARY KEY CLUSTERED 
(
	[IDLOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAYBAY]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAYBAY](
	[IDMAYBAY] [varchar](10) NOT NULL,
	[IDLOAI] [varchar](10) NOT NULL,
 CONSTRAINT [PK_MAYBAY] PRIMARY KEY CLUSTERED 
(
	[IDMAYBAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOI]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOI](
	[IDNGUOI] [int] IDENTITY(1,1) NOT NULL,
	[CMND] [varchar](13) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[SDT] [varchar](13) NOT NULL,
 CONSTRAINT [PK_NGUOI] PRIMARY KEY CLUSTERED 
(
	[IDNGUOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[IDNHANVIEN] [int] IDENTITY(1,1) NOT NULL,
	[IDNGUOI] [int] NOT NULL,
	[LUONG] [money] NOT NULL,
	[CALAMVIEC] [int] NOT NULL,
	[TRANGTHAINGHI] [bit] NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[IDNHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHICONG]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHICONG](
	[IDNHANVIEN] [int] NOT NULL,
	[ID_BANGLAI] [varchar](10) NOT NULL,
	[NGAYCAP] [date] NOT NULL,
 CONSTRAINT [PK_PHICONG] PRIMARY KEY CLUSTERED 
(
	[IDNHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUBAOTRI]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUBAOTRI](
	[IDPHIEU] [varchar](10) NOT NULL,
	[IDMAYBAY] [varchar](10) NOT NULL,
	[IDNHANVIEN] [int] NOT NULL,
	[NGAYLAP] [date] NOT NULL,
	[SOGIO] [float] NOT NULL,
 CONSTRAINT [PK_PHIEUBAOTRI] PRIMARY KEY CLUSTERED 
(
	[IDPHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CANHAN] ([OWNER_ID], [IDNGUOI]) VALUES (N'CN1', 1)
INSERT [dbo].[CANHAN] ([OWNER_ID], [IDNGUOI]) VALUES (N'CN2', 2)
INSERT [dbo].[CANHAN] ([OWNER_ID], [IDNGUOI]) VALUES (N'CN3', 3)
GO
INSERT [dbo].[CHUMAYBAY] ([OWNER_ID], [OWNER_TYPE]) VALUES (N'', 0)
INSERT [dbo].[CHUMAYBAY] ([OWNER_ID], [OWNER_TYPE]) VALUES (N'CN1', 0)
INSERT [dbo].[CHUMAYBAY] ([OWNER_ID], [OWNER_TYPE]) VALUES (N'CN2', 0)
GO
INSERT [dbo].[CT_BANGLAI] ([ID_BANGLAI], [IDLOAI]) VALUES (N'0334445684', N'LMB1')
INSERT [dbo].[CT_BANGLAI] ([ID_BANGLAI], [IDLOAI]) VALUES (N'0334445684', N'LMB2')
INSERT [dbo].[CT_BANGLAI] ([ID_BANGLAI], [IDLOAI]) VALUES (N'0334445684', N'LMB3')
GO
INSERT [dbo].[CT_CHUMAYBAY] ([OWNER_ID], [IDMAYBAY], [NGAYBATDAU]) VALUES (N'CN1', N'MB1', CAST(N'2023-05-18T00:00:00' AS SmallDateTime))
INSERT [dbo].[CT_CHUMAYBAY] ([OWNER_ID], [IDMAYBAY], [NGAYBATDAU]) VALUES (N'CN1', N'MB4', CAST(N'2023-05-26T16:59:00' AS SmallDateTime))
INSERT [dbo].[CT_CHUMAYBAY] ([OWNER_ID], [IDMAYBAY], [NGAYBATDAU]) VALUES (N'CN1', N'MB6', CAST(N'2023-05-26T22:31:00' AS SmallDateTime))
GO
INSERT [dbo].[CT_KHO] ([IDKHO], [IDMAYBAY]) VALUES (N'K1N1', N'MB1')
INSERT [dbo].[CT_KHO] ([IDKHO], [IDMAYBAY]) VALUES (N'K1N1', N'MB2')
INSERT [dbo].[CT_KHO] ([IDKHO], [IDMAYBAY]) VALUES (N'K1N1', N'MB3')
GO
INSERT [dbo].[CT_NVBAOTRI] ([IDNHANVIEN], [IDLOAI]) VALUES (4, N'LMB1')
INSERT [dbo].[CT_NVBAOTRI] ([IDNHANVIEN], [IDLOAI]) VALUES (4, N'LMB2')
INSERT [dbo].[CT_NVBAOTRI] ([IDNHANVIEN], [IDLOAI]) VALUES (4, N'LMB3')
GO
INSERT [dbo].[CT_PHIEUBAOTRI] ([IDPHIEU], [IDNHANVIEN], [CONGVIEC]) VALUES (N'PBT1', 4, N'Thay nhớt cánh quạt')
INSERT [dbo].[CT_PHIEUBAOTRI] ([IDPHIEU], [IDNHANVIEN], [CONGVIEC]) VALUES (N'PBT1', 5, N'Thay lốp máy bay')
INSERT [dbo].[CT_PHIEUBAOTRI] ([IDPHIEU], [IDNHANVIEN], [CONGVIEC]) VALUES (N'PBT2', 4, N'Thay cánh quạt gãy')
GO
INSERT [dbo].[DOANHNGHIEP] ([OWNER_ID], [TENDN], [DIACHI], [SDT], [TENNGUOIDAIDIEN]) VALUES (N'DN1', N'Vietjet Air', N'Hà Nội', N'023454545', N'Nguyễn Thảo')
INSERT [dbo].[DOANHNGHIEP] ([OWNER_ID], [TENDN], [DIACHI], [SDT], [TENNGUOIDAIDIEN]) VALUES (N'DN2', N'Vietnam Airlines', N'Hà Nội', N'545445457', N'Trần Tiến')
INSERT [dbo].[DOANHNGHIEP] ([OWNER_ID], [TENDN], [DIACHI], [SDT], [TENNGUOIDAIDIEN]) VALUES (N'DN3', N'CÔNG TY bầu trời', N'Hà Nội', N'1231545447', N'Shark Kông')
GO
INSERT [dbo].[KHO] ([IDKHO], [SUCCHUA], [VITRI]) VALUES (N'K1N1', 4, N'Cảng hàng không quốc tế Tân Sơn Nhất')
INSERT [dbo].[KHO] ([IDKHO], [SUCCHUA], [VITRI]) VALUES (N'K1N2', 1, N'Cảng hàng không quốc tế Tân Sơn Nhất')
INSERT [dbo].[KHO] ([IDKHO], [SUCCHUA], [VITRI]) VALUES (N'K2N1', 2, N'Cảng hàng không Buôn Ma Thuột')
GO
INSERT [dbo].[LOAIMAYBAY] ([IDLOAI], [TENLOAI], [KIEUDANG], [SUCCHUA], [TRONGLUONG]) VALUES (N'LMB1', N'Airbus A300', N'Nhỏ', 100, 500)
INSERT [dbo].[LOAIMAYBAY] ([IDLOAI], [TENLOAI], [KIEUDANG], [SUCCHUA], [TRONGLUONG]) VALUES (N'LMB2', N'Boeing 707', N'Nhỏ', 100, 500)
INSERT [dbo].[LOAIMAYBAY] ([IDLOAI], [TENLOAI], [KIEUDANG], [SUCCHUA], [TRONGLUONG]) VALUES (N'LMB3', N'Airbus A310', N'Nhỏ', 100, 500)
GO
INSERT [dbo].[MAYBAY] ([IDMAYBAY], [IDLOAI]) VALUES (N'MB1', N'LMB1')
INSERT [dbo].[MAYBAY] ([IDMAYBAY], [IDLOAI]) VALUES (N'MB2', N'LMB1')
INSERT [dbo].[MAYBAY] ([IDMAYBAY], [IDLOAI]) VALUES (N'MB3', N'LMB2')
GO
SET IDENTITY_INSERT [dbo].[NGUOI] ON 

INSERT [dbo].[NGUOI] ([IDNGUOI], [CMND], [TEN], [DIACHI], [SDT]) VALUES (1, N'123547567452', N'Trần Thị Thúy', N'Phú Thọ', N'02234479814')
INSERT [dbo].[NGUOI] ([IDNGUOI], [CMND], [TEN], [DIACHI], [SDT]) VALUES (2, N'02121545547', N'Phan Đăng', N'Hà Nội', N'10254897878')
INSERT [dbo].[NGUOI] ([IDNGUOI], [CMND], [TEN], [DIACHI], [SDT]) VALUES (3, N'131447847888', N'Bùi Thị Yến Tử', N'Đắk Nông', N'02165465455')
SET IDENTITY_INSERT [dbo].[NGUOI] OFF
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([IDNHANVIEN], [IDNGUOI], [LUONG], [CALAMVIEC], [TRANGTHAINGHI]) VALUES (1, 1, 7000000.0000, 1, 0)
INSERT [dbo].[NHANVIEN] ([IDNHANVIEN], [IDNGUOI], [LUONG], [CALAMVIEC], [TRANGTHAINGHI]) VALUES (2, 2, 14000000.0000, 2, 0)
INSERT [dbo].[NHANVIEN] ([IDNHANVIEN], [IDNGUOI], [LUONG], [CALAMVIEC], [TRANGTHAINGHI]) VALUES (3, 3, 13000000.0000, 1, 0)
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
GO
INSERT [dbo].[PHICONG] ([IDNHANVIEN], [ID_BANGLAI], [NGAYCAP]) VALUES (1, N'1569743695', CAST(N'2002-05-02' AS Date))
INSERT [dbo].[PHICONG] ([IDNHANVIEN], [ID_BANGLAI], [NGAYCAP]) VALUES (2, N'0334445684', CAST(N'2010-02-02' AS Date))
INSERT [dbo].[PHICONG] ([IDNHANVIEN], [ID_BANGLAI], [NGAYCAP]) VALUES (3, N'1348451544', CAST(N'2002-02-08' AS Date))
GO
INSERT [dbo].[PHIEUBAOTRI] ([IDPHIEU], [IDMAYBAY], [IDNHANVIEN], [NGAYLAP], [SOGIO]) VALUES (N'PBT1', N'MB1', 6, CAST(N'2023-05-15' AS Date), 6)
INSERT [dbo].[PHIEUBAOTRI] ([IDPHIEU], [IDMAYBAY], [IDNHANVIEN], [NGAYLAP], [SOGIO]) VALUES (N'PBT2', N'MB2', 7, CAST(N'2023-05-18' AS Date), 12)
INSERT [dbo].[PHIEUBAOTRI] ([IDPHIEU], [IDMAYBAY], [IDNHANVIEN], [NGAYLAP], [SOGIO]) VALUES (N'PBT3', N'MB5', 9, CAST(N'2023-06-07' AS Date), 5)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_LOAI_MAY_BAY]    Script Date: 7/10/2023 2:00:40 PM ******/
ALTER TABLE [dbo].[LOAIMAYBAY] ADD  CONSTRAINT [UK_LOAI_MAY_BAY] UNIQUE NONCLUSTERED 
(
	[TENLOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NGUOI]    Script Date: 7/10/2023 2:00:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_NGUOI] ON [dbo].[NGUOI]
(
	[TEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NGAYPHIEUBAOTRI]    Script Date: 7/10/2023 2:00:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_NGAYPHIEUBAOTRI] ON [dbo].[PHIEUBAOTRI]
(
	[NGAYLAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NVPHIEUBAOTRI]    Script Date: 7/10/2023 2:00:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_NVPHIEUBAOTRI] ON [dbo].[PHIEUBAOTRI]
(
	[IDNHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHUMAYBAY] ADD  CONSTRAINT [DF_CHUMAYBAY_OWNER_TYPE]  DEFAULT ((0)) FOR [OWNER_TYPE]
GO
ALTER TABLE [dbo].[CT_CHUMAYBAY] ADD  CONSTRAINT [DF_CT_CHUMAYBAY_NGAYBATDAU]  DEFAULT (getdate()) FOR [NGAYBATDAU]
GO
ALTER TABLE [dbo].[LOAIMAYBAY] ADD  CONSTRAINT [DF_LOAIMAYBAY_KIEUDANG]  DEFAULT (N'Nhỏ') FOR [KIEUDANG]
GO
ALTER TABLE [dbo].[LOAIMAYBAY] ADD  CONSTRAINT [DF_LOAIMAYBAY_SUCCHUA]  DEFAULT ((100)) FOR [SUCCHUA]
GO
ALTER TABLE [dbo].[LOAIMAYBAY] ADD  CONSTRAINT [DF_LOAIMAYBAY_TRONGLUONG]  DEFAULT ((500)) FOR [TRONGLUONG]
GO
ALTER TABLE [dbo].[CANHAN]  WITH CHECK ADD  CONSTRAINT [FK_CANHAN_CHUMAYBAY] FOREIGN KEY([OWNER_ID])
REFERENCES [dbo].[CHUMAYBAY] ([OWNER_ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CANHAN] CHECK CONSTRAINT [FK_CANHAN_CHUMAYBAY]
GO
ALTER TABLE [dbo].[CANHAN]  WITH CHECK ADD  CONSTRAINT [FK_CANHAN_NGUOI] FOREIGN KEY([IDNGUOI])
REFERENCES [dbo].[NGUOI] ([IDNGUOI])
GO
ALTER TABLE [dbo].[CANHAN] CHECK CONSTRAINT [FK_CANHAN_NGUOI]
GO
ALTER TABLE [dbo].[CT_BANGLAI]  WITH CHECK ADD  CONSTRAINT [FK_CT_BANGLAI_LOAIMAYBAY] FOREIGN KEY([IDLOAI])
REFERENCES [dbo].[LOAIMAYBAY] ([IDLOAI])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_BANGLAI] CHECK CONSTRAINT [FK_CT_BANGLAI_LOAIMAYBAY]
GO
ALTER TABLE [dbo].[CT_CHUMAYBAY]  WITH CHECK ADD  CONSTRAINT [FK_CT_CHUMAYBAY_CHUMAYBAY] FOREIGN KEY([OWNER_ID])
REFERENCES [dbo].[CHUMAYBAY] ([OWNER_ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_CHUMAYBAY] CHECK CONSTRAINT [FK_CT_CHUMAYBAY_CHUMAYBAY]
GO
ALTER TABLE [dbo].[CT_CHUMAYBAY]  WITH CHECK ADD  CONSTRAINT [FK_CT_CHUMAYBAY_MAYBAY] FOREIGN KEY([IDMAYBAY])
REFERENCES [dbo].[MAYBAY] ([IDMAYBAY])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_CHUMAYBAY] CHECK CONSTRAINT [FK_CT_CHUMAYBAY_MAYBAY]
GO
ALTER TABLE [dbo].[CT_KHO]  WITH CHECK ADD  CONSTRAINT [FK_CT_KHO_KHO] FOREIGN KEY([IDKHO])
REFERENCES [dbo].[KHO] ([IDKHO])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_KHO] CHECK CONSTRAINT [FK_CT_KHO_KHO]
GO
ALTER TABLE [dbo].[CT_KHO]  WITH CHECK ADD  CONSTRAINT [FK_CT_KHO_MAYBAY] FOREIGN KEY([IDMAYBAY])
REFERENCES [dbo].[MAYBAY] ([IDMAYBAY])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_KHO] CHECK CONSTRAINT [FK_CT_KHO_MAYBAY]
GO
ALTER TABLE [dbo].[CT_NVBAOTRI]  WITH CHECK ADD  CONSTRAINT [FK_CT_NVBAOTRI_LOAIMAYBAY] FOREIGN KEY([IDLOAI])
REFERENCES [dbo].[LOAIMAYBAY] ([IDLOAI])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_NVBAOTRI] CHECK CONSTRAINT [FK_CT_NVBAOTRI_LOAIMAYBAY]
GO
ALTER TABLE [dbo].[CT_NVBAOTRI]  WITH CHECK ADD  CONSTRAINT [FK_CT_NVBAOTRI_NHANVIEN] FOREIGN KEY([IDNHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([IDNHANVIEN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_NVBAOTRI] CHECK CONSTRAINT [FK_CT_NVBAOTRI_NHANVIEN]
GO
ALTER TABLE [dbo].[CT_PHIEUBAOTRI]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUBAOTRI_NHANVIEN1] FOREIGN KEY([IDNHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([IDNHANVIEN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_PHIEUBAOTRI] CHECK CONSTRAINT [FK_CT_PHIEUBAOTRI_NHANVIEN1]
GO
ALTER TABLE [dbo].[CT_PHIEUBAOTRI]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUBAOTRI_PHIEUBAOTRI] FOREIGN KEY([IDPHIEU])
REFERENCES [dbo].[PHIEUBAOTRI] ([IDPHIEU])
GO
ALTER TABLE [dbo].[CT_PHIEUBAOTRI] CHECK CONSTRAINT [FK_CT_PHIEUBAOTRI_PHIEUBAOTRI]
GO
ALTER TABLE [dbo].[DOANHNGHIEP]  WITH CHECK ADD  CONSTRAINT [FK_DOANHNGHIEP_CHUMAYBAY] FOREIGN KEY([OWNER_ID])
REFERENCES [dbo].[CHUMAYBAY] ([OWNER_ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DOANHNGHIEP] CHECK CONSTRAINT [FK_DOANHNGHIEP_CHUMAYBAY]
GO
ALTER TABLE [dbo].[MAYBAY]  WITH CHECK ADD  CONSTRAINT [FK_MAYBAY_LOAIMAYBAY] FOREIGN KEY([IDLOAI])
REFERENCES [dbo].[LOAIMAYBAY] ([IDLOAI])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[MAYBAY] CHECK CONSTRAINT [FK_MAYBAY_LOAIMAYBAY]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_NGUOI] FOREIGN KEY([IDNGUOI])
REFERENCES [dbo].[NGUOI] ([IDNGUOI])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_NGUOI]
GO
ALTER TABLE [dbo].[PHICONG]  WITH CHECK ADD  CONSTRAINT [FK_PHICONG_NHANVIEN] FOREIGN KEY([IDNHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([IDNHANVIEN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHICONG] CHECK CONSTRAINT [FK_PHICONG_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUBAOTRI]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUBAOTRI_MAYBAY] FOREIGN KEY([IDMAYBAY])
REFERENCES [dbo].[MAYBAY] ([IDMAYBAY])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUBAOTRI] CHECK CONSTRAINT [FK_PHIEUBAOTRI_MAYBAY]
GO
ALTER TABLE [dbo].[PHIEUBAOTRI]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUBAOTRI_NHANVIEN1] FOREIGN KEY([IDNHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([IDNHANVIEN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUBAOTRI] CHECK CONSTRAINT [FK_PHIEUBAOTRI_NHANVIEN1]
GO
/****** Object:  StoredProcedure [dbo].[sp_Backup]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Backup](
	@filepath nvarchar(max))
AS
BEGIN
	BACKUP DATABASE [QL_SANBAY_CN]
	TO DISK = @filepath;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoKhoConTrong]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_BaoCaoKhoConTrong]
AS
BEGIN
SELECT K.IDKHO, VITRI, SUCCHUA,  CONTRONG = SUCCHUA - DANGCHUA 
FROM 
	KHO K
	INNER JOIN (SELECT IDKHO, COUNT(IDKHO) AS DANGCHUA FROM CT_KHO  GROUP BY IDKHO) CT 
	ON CT.IDKHO = K.IDKHO
WHERE SUCCHUA > DANGCHUA 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoMayBayBaoTri]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_BaoCaoMayBayBaoTri]
@tuNgay date, @denNgay date
AS
BEGIN
	SELECT IDPHIEU, IDMAYBAY, NGAYLAP, SOGIO INTO #PBT FROM PHIEUBAOTRI WITH(INDEX(IX_NGAYPHIEUBAOTRI)) WHERE NGAYLAP BETWEEN @tuNgay AND @denNgay;
	SELECT #PBT.IDPHIEU, IDMAYBAY, NGAYLAP, SOGIO ,SONGUOI
	FROM #PBT
	INNER JOIN (SELECT CT.IDPHIEU, COUNT(CT.IDPHIEU) AS SONGUOI FROM CT_PHIEUBAOTRI CT GROUP BY CT.IDPHIEU )  CT_PBT 
	ON CT_PBT.IDPHIEU = #PBT.IDPHIEU
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatPhiCong]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_CapNhatPhiCong](
	@IDNGUOI int
	, @CMND varchar(13)
	, @Ten nvarchar(50)
	, @Diachi nvarchar(100) 
	, @SDT varchar(13)
	, @IDNHANVIEN int
	, @TrangThaiNghi bit)
AS
BEGIN
	BEGIN TRANSACTION
		UPDATE NGUOI SET CMND=@CMND, TEN=@Ten, DIACHI=@Diachi, SDT=@SDT WHERE IDNGUOI=@IDNGUOI
		UPDATE NHANVIEN SET TRANGTHAINGHI=@TrangThaiNghi WHERE IDNHANVIEN=@IDNHANVIEN
	COMMIT
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CT_BangLai]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_CT_BangLai]
AS
BEGIN
	SELECT
		ct.ID_BANGLAI
		, l.IDLOAI
		, l.TENLOAI
	FROM 
		CT_BANGLAI ct
		INNER JOIN LOAIMAYBAY l on ct.IDLOAI = l.IDLOAI
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DangNhap]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[sp_DangNhap]
	@TENLOGIN NVARCHAR( 100)
AS
	DECLARE @UID INT
	DECLARE @MANV NVARCHAR(100)
	SELECT @UID= uid , @MANV= NAME FROM sys.sysusers 
  	WHERE sid = SUSER_SID(@TENLOGIN)

	SELECT  MAGV= @MANV, 
       		HOTEN = (SELECT N.TEN  FROM NHANVIEN NV JOIN NGUOI N ON NV.IDNGUOI = N.IDNGUOI WHERE NV.IDNHANVIEN=@MANV ), 
       		TENNHOM=NAME
  	FROM sys.sysusers
    	WHERE UID = (SELECT groupuid FROM sys.sysmembers WHERE memberuid=@uid)
GO
/****** Object:  StoredProcedure [dbo].[sp_DanhSachCaNhan]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DanhSachCaNhan]
AS
SELECT OWNER_ID, N.IDNGUOI, CMND, TEN, DIACHI, SDT
FROM CANHAN C
JOIN NGUOI N
ON C.IDNGUOI = N.IDNGUOI
GO
/****** Object:  StoredProcedure [dbo].[sp_DanhSachChonNhanVien]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DanhSachChonNhanVien]
AS
BEGIN
SELECT NV.IDNHANVIEN, NV.IDNGUOI ,TEN, CMND, DIACHI, SDT, LUONG, CALAMVIEC, TRANGTHAINGHI
	FROM NHANVIEN NV  INNER JOIN NGUOI NG ON NV.IDNGUOI = NG.IDNGUOI 
	WHERE NV.IDNHANVIEN NOT IN (SELECT BT.IDNHANVIEN FROM CT_NVBAOTRI BT)
		AND NV.IDNHANVIEN NOT IN (SELECT PC.IDNHANVIEN FROM PHICONG PC)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DanhSachChuMayBay]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DanhSachChuMayBay]
AS
SELECT OWNER_ID, CT_LMB.IDMAYBAY, TENLOAI, ISNULL(NGAYBATDAU, '00:00:00 01/01/1900') AS NGAYBATDAU
FROM (SELECT IDMAYBAY, TENLOAI
	  FROM MAYBAY MB
	  JOIN LOAIMAYBAY LMB
	  ON MB.IDLOAI = LMB.IDLOAI) CT_LMB
LEFT JOIN
(SELECT OWNER_ID, IDMAYBAY, NGAYBATDAU FROM
(Select OWNER_ID
		, IDMAYBAY
		, NGAYBATDAU
		, ROW_NUMBER() OVER (PARTITION BY IDMAYBAY ORDER BY NGAYBATDAU DESC) AS UUTIEN
FROM CT_CHUMAYBAY) LOC
WHERE LOC.UUTIEN = 1) CT_CMB
ON CT_LMB.IDMAYBAY = CT_CMB.IDMAYBAY
GO
/****** Object:  StoredProcedure [dbo].[sp_DanhSachNhanVien]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_DanhSachNhanVien]
as
begin
	SELECT IDNHANVIEN, NV.IDNGUOI ,TEN, CMND, DIACHI, SDT, LUONG, CALAMVIEC, TRANGTHAINGHI
	FROM NHANVIEN NV INNER JOIN NGUOI NG ON NV.IDNGUOI = NG.IDNGUOI

end
GO
/****** Object:  StoredProcedure [dbo].[sp_DanhSachNhanVienBaoTri]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DanhSachNhanVienBaoTri]
AS
BEGIN 
	SELECT NV.IDNHANVIEN, NV.IDNGUOI ,TEN, CMND, DIACHI, SDT, LUONG, CALAMVIEC, TRANGTHAINGHI
	FROM 
		NHANVIEN NV INNER JOIN NGUOI NG ON NV.IDNGUOI = NG.IDNGUOI
		WHERE 
			EXISTS (SELECT 'X' 
					FROM NHANVIEN NV_TEMP 
					INNER JOIN CT_NVBAOTRI NV_BT 
					ON NV_TEMP.IDNHANVIEN = NV_BT.IDNHANVIEN 
					WHERE NV.IDNHANVIEN = NV_TEMP.IDNHANVIEN)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DanhSachNVBaoTriMBLoai]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DanhSachNVBaoTriMBLoai]
@idMayBay varchar(10)
AS
BEGIN
DECLARE @idLoai varchar(10)
SELECT @idLoai = IDLOAI FROM MAYBAY WHERE IDMAYBAY = @idMayBay

SELECT NV.IDNHANVIEN, TEN FROM 
	NHANVIEN NV INNER JOIN NGUOI NG ON NV.IDNGUOI = NG.IDNGUOI
	WHERE NV.IDNHANVIEN IN 
	(SELECT NVBT.IDNHANVIEN FROM CT_NVBAOTRI NVBT  WHERE IDLOAI = @idLoai ) 
		 
END	
GO
/****** Object:  StoredProcedure [dbo].[sp_DanhSachPhiCong]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DanhSachPhiCong]
AS
BEGIN
	SELECT
		pc.IDNHANVIEN
		, p.CMND
		, p.TEN
		, p.SDT
		, p.DIACHI
		, pc.ID_BANGLAI
		, pc.NGAYCAP
		, nv.TRANGTHAINGHI
	FROM 
		PHICONG pc
		INNER JOIN NHANVIEN nv ON pc.IDNHANVIEN = nv.IDNHANVIEN
		INNER JOIN NGUOI p ON nv.IDNGUOI = p.IDNGUOI
	ORDER BY
		pc.IDNHANVIEN
END
GO
/****** Object:  StoredProcedure [dbo].[sp_HieuChinhNhanVien]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_HieuChinhNhanVien]
@idNV int, @idnguoi int,@cmnd varchar(13), @ten nvarchar(50), @diachi nvarchar(100), @sdt varchar(13),
@luong money, @calamviec int, @trangthainghi bit
AS
BEGIN
	BEGIN TRANSACTION
	UPDATE  NGUOI
	SET CMND = @cmnd, TEN = @ten, DIACHI = @diachi, SDT = @sdt
	WHERE IDNGUOI =  @idnguoi

	UPDATE  NHANVIEN
	SET LUONG = @luong, CALAMVIEC = @calamviec, TRANGTHAINGHI = @trangthainghi
	WHERE IDNHANVIEN = @idNV
	COMMIT
END
GO
/****** Object:  StoredProcedure [dbo].[sp_HieuChinhTaiKhoan]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_HieuChinhTaiKhoan](
	@loginname nvarchar(10), @password nvarchar(50),
	@curr_role nvarchar(10), @new_role nvarchar(10),
	@manv nvarchar(10)
)
AS
BEGIN
	if(@password != '')
	begin
		DECLARE @sql AS nvarchar(max) = 'ALTER LOGIN ' + QUOTENAME(@loginName) + ' WITH PASSWORD = ' + QUOTENAME(@password, '''')
		exec (@sql)
	end

	exec sp_droprolemember @curr_role, @manv
	exec sp_addrolemember @new_role, @manv

	if(@curr_role = 'MANAGER' AND @new_role = 'NVBAOTRI')
	begin
		exec sp_dropsrvrolemember @loginname, 'securityadmin'
		exec sp_dropsrvrolemember @loginname, 'dbcreator'
	end
	if(@curr_role = 'NVBAOTRI' AND @new_role = 'MANAGER')
	begin
		exec sp_addsrvrolemember @loginname, 'securityadmin'
		exec sp_addsrvrolemember @loginname, 'dbcreator'
	end

END
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoTaiKhoan]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_TaoTaiKhoan]
@loginname nvarchar(10), @password nvarchar(50),
@role nvarchar(10), @manv nvarchar(10)
as
begin
	declare @id int = cast(@manv as int)
	if(not exists(select * from NHANVIEN where IDNHANVIEN = @id))
	begin
		raiserror('Mã nhân viên không tồn tại trong hệ thống', 16, 1)
		return
	end

	declare @res int

	exec @res = sp_addlogin @loginname, @password, 'QL_SANBAY_CN'
	if(@res = 1)
	begin 
		raiserror('Tên đăng nhập đã tồn tại', 16, 1)
		return
	end
	else
	begin
		if(@role = 'MANAGER')
		begin
			exec sp_addsrvrolemember @loginname, 'securityadmin'
			exec sp_addsrvrolemember @loginname, 'dbcreator'
		end
	end

	exec @res = sp_grantdbaccess @loginname, @manv
	if(@res = 1)
	begin
		exec sp_droplogin @loginname
		raiserror('Mã nhân viên đã tồn tại',16, 2)
		return
	end

	begin try
		exec sp_addrolemember @role, @manv
	end try
	begin catch
		exec sp_droplogin @loginname
		raiserror('Sai tên role', 16, 2)
		return
	end catch
end
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemCaNhan]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_ThemCaNhan]
	@OWNER_ID VARCHAR(10)
	, @TEN NVARCHAR(50)
	, @CMND NVARCHAR(13)
	, @DIACHI NVARCHAR(100)
	, @SDT VARCHAR(13)
AS
BEGIN

	SET XACT_ABORT ON
	BEGIN TRAN
	BEGIN TRY
		INSERT INTO NGUOI(CMND, TEN, DIACHI, SDT) 
		VALUES(@CMND, @TEN, @DIACHI, @SDT)

		DECLARE @IDNGUOI INT
		SELECT @IDNGUOI = IDENT_CURRENT('NGUOI')

		INSERT INTO CHUMAYBAY VALUES(@OWNER_ID, 0)
		INSERT INTO CANHAN VALUES(@OWNER_ID, @IDNGUOI)
		COMMIT
	END TRY

	BEGIN CATCH
		ROLLBACK
		DECLARE @ErrorMessage VARCHAR(2000)
		SELECT @ErrorMessage = 'Lỗi: ' + ERROR_MESSAGE()
	RAISERROR(@ErrorMessage, 16, 1)
	END CATCH
END



-------------------------------------
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemDoanhNghiep]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_ThemDoanhNghiep]
	@OWNER_ID VARCHAR(10)
	, @TENDN NVARCHAR(50)
	, @DIACHI NVARCHAR(100)
	, @SDT NVARCHAR(13)
	, @TENNGUOIDAIDIEN NVARCHAR(50)

AS
BEGIN
	SET XACT_ABORT ON
	BEGIN TRAN

	BEGIN TRY
		INSERT INTO CHUMAYBAY
		VALUES(@OWNER_ID, 1)

		INSERT INTO DOANHNGHIEP 
		VALUES(@OWNER_ID, @TENDN, @DIACHI, @SDT, @TENNGUOIDAIDIEN)
		COMMIT
	END TRY

	BEGIN CATCH
		ROLLBACK
		DECLARE @ErrorMessage VARCHAR(2000)
		SELECT @ErrorMessage = 'Lỗi: ' + ERROR_MESSAGE()
	RAISERROR(@ErrorMessage, 16, 1)
	END CATCH
END

------------------------------------------------
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemNhanVien]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_ThemNhanVien]
@cmnd varchar(13), @ten nvarchar(50), @diachi nvarchar(100), @sdt varchar(13),
@luong money, @calamviec int, @trangthainghi bit
AS
BEGIN
	SET XACT_ABORT ON
	BEGIN TRAN

	BEGIN TRY
		INSERT INTO NGUOI(CMND,TEN,DIACHI,SDT)
		VALUES (@cmnd, @ten, @diachi , @sdt);

		DECLARE @idnguoi INT;
		SELECT @idnguoi = IDENT_CURRENT('NGUOI')

		INSERT INTO NHANVIEN(IDNGUOI, LUONG, CALAMVIEC, TRANGTHAINGHI) 
		VALUES (@idnguoi,@luong, @calamviec, @trangthainghi)

	COMMIT
	END TRY

	BEGIN CATCH
		ROLLBACK
		DECLARE @ErrorMessage VARCHAR(2000)
		SELECT @ErrorMessage = 'Lỗi: ' + ERROR_MESSAGE()
	RAISERROR(@ErrorMessage, 16, 1)
	END CATCH
END
------------------------------------------------
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaCaNhan]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_XoaCaNhan]
@OWNER_ID VARCHAR(10)
AS
BEGIN
	SET XACT_ABORT ON
	BEGIN TRAN

	BEGIN TRY
		DECLARE @IDNGUOI INT
		SELECT @IDNGUOI = IDNGUOI FROM CANHAN WHERE OWNER_ID = @OWNER_ID

		DELETE FROM CANHAN WHERE OWNER_ID = @OWNER_ID
		DELETE FROM CHUMAYBAY WHERE OWNER_ID = @OWNER_ID
		DELETE FROM NGUOI WHERE IDNGUOI = @IDNGUOI
		COMMIT
	END TRY

	BEGIN CATCH
		ROLLBACK
		DECLARE @ErrorMessage VARCHAR(2000)
		SELECT @ErrorMessage = 'Lỗi: ' + ERROR_MESSAGE()
	RAISERROR(@ErrorMessage, 16, 1)
	END CATCH
END
---------------------------------------------
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaDoanhNghiep]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_XoaDoanhNghiep]
@OWNER_ID VARCHAR(10)
AS
BEGIN
	SET XACT_ABORT ON
	BEGIN TRAN

	BEGIN TRY
		DELETE FROM DOANHNGHIEP WHERE OWNER_ID = @OWNER_ID
		DELETE FROM CHUMAYBAY WHERE OWNER_ID = @OWNER_ID
	COMMIT
	END TRY

	BEGIN CATCH
		ROLLBACK
		DECLARE @ErrorMessage VARCHAR(2000)
		SELECT @ErrorMessage = 'Lỗi: ' + ERROR_MESSAGE()
	RAISERROR(@ErrorMessage, 16, 1)
	END CATCH
END
--------------------------------------------
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaNhanVien]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_XoaNhanVien]
@idNV int, @idnguoi INT
AS
BEGIN
	SET XACT_ABORT ON
	BEGIN TRAN

	BEGIN TRY
		DELETE FROM NHANVIEN WHERE IDNHANVIEN = @idNV
		DELETE FROM  NGUOI WHERE IDNGUOI = @idnguoi
		COMMIT
	END TRY

	BEGIN CATCH
		ROLLBACK
		DECLARE @ErrorMessage VARCHAR(2000)
		SELECT @ErrorMessage = 'Lỗi: ' + ERROR_MESSAGE()
	RAISERROR(@ErrorMessage, 16, 1)
	END CATCH
END

------------------------------------------------------
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaPhiCong]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_XoaPhiCong](
	@MANV int)
AS
BEGIN
	SET XACT_ABORT ON
	BEGIN TRAN

	BEGIN TRY
		DECLARE @IDBangLai varchar(10)
		SELECT @IDBangLai = ID_BANGLAI FROM PHICONG WHERE IDNHANVIEN = @MANV
		DELETE FROM CT_BANGLAI WHERE ID_BANGLAI = @IDBangLai
		DELETE FROM PHICONG WHERE IDNHANVIEN = @MANV
		COMMIT
	END TRY

	BEGIN CATCH
		ROLLBACK
		DECLARE @ErrorMessage VARCHAR(2000)
		SELECT @ErrorMessage = 'Lỗi: ' + ERROR_MESSAGE()
	RAISERROR(@ErrorMessage, 16, 1)
	END CATCH
END
--------------------------------------------------------
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaTaiKhoan]    Script Date: 7/10/2023 2:00:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_XoaTaiKhoan](
	@tendangnhap nvarchar(10), @manv nvarchar(10)
)
AS
BEGIN
	exec sp_droplogin @tendangnhap
	exec sp_dropuser @manv
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0 LÀ CÁ NHÂN, 1 LÀ DOANH NGHIỆP' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CHUMAYBAY', @level2type=N'COLUMN',@level2name=N'OWNER_TYPE'
GO
USE [master]
GO
